@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #121212;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: #121212;
}

.margins {
  margin-left: 16rem;
  margin-right: 16rem;
}

.small-title {
  color: #cc3c62;
  font-family: Source Sans Pro;
  font-size: 2rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.large-title-dynamic {
  color: #dcb679;
  font-family: Source Sans Pro;
  font-size: 4.2rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  transition: font-size 0.3s ease;
}

.large-title-dynamic:hover {
  font-size: 5rem;
}

.large-title-static {
  font-family: Source Sans Pro;
  font-size: 4.2rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.body-text {
  font-family: Source Sans Pro;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.small-text {
  font-family: Source Sans Pro;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 100;
  line-height: normal;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
